
/* TUTORIAL PAGE */
.rt {
    float: right;
}

.lower-container {
    position: relative;

    top: 0;
    left: 0;
    right: 0;
    bottom: 100;

    max-width: 1500px;
    margin: auto;
}

.container-left {
    position: absolute;

    top: 0;
    left: 0;
    right: 35%;
    bottom: 0;
}

@media only screen and (max-width: 1000px) {
    .container-left {
        right: 0;
    }

    .container-right {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .video-main-container {
        padding: 14px !important;
    }

    .lower-video-right {
        right: 12 !important;
        padding-top: 3px;
    }
}

.container-right {
    position: absolute;

    left: 0;
    right: 0;
    left: 65%;

    /* max-width: 400px; */
}

.video-main-container {
    padding: 14px;
    padding-bottom: 0;
}

.video-container {
    width: 100%;
    border-radius: 12px;
}

.video-container:focus {
    outline: none;
}

.video-lower {
    margin-top: 12px;
    margin-bottom: 12px;

    padding-left: 4px;
    padding-right: 4px;
}

.btn-lower-video {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10.5px;

    text-align: center;
    margin-left: 18px;

    height: 31px;

    display: inline-block;
    cursor: pointer;
    user-select: none;

    color: grey;
}

.btn-lower-video:hover {
    color: #FC4C86;
}

.btn-like-selected {
    color: #FC4C86;
}

.btn-lower-video > i {
    font-size: 14px;
}

.btn-lower-video > p {
    display: inline-block;
    color: rgb(110, 110, 110);

    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 2px;
}

.divider {
    border: 1px solid #ebebeb;

    margin-left: 14px;
    margin-right: 14px;
}

.description-main-container {
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 28px;
}

.author-container {
    height: 50px;

    position: relative;
}

.author-avatar {
    height: 50px;
    border-radius: 50%;

    position: absolute;

    top: 0;
    left: 0;
}

.author-stats {
    position: absolute;

    top: 3;
    left: 66;
    right: 0;
}

.author-details {
    font-size: 13px;
    font-weight: 500;

    color: #808080;
}

.author-details > span {
    color: #343E6D;
}

.description-container {
    padding-top: 20px;
}

.video-title {
    font-weight: 500;
    font-size: 18px;
    color:#343E6D;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-description {
    font-size: 13px;
    font-weight: 500;

    color: #7f8691;

    padding-left: 64px;
}

.comments-container {
    padding-left: 30px;
    padding-top: 24px;
    
    padding-bottom: 50px;
}

.comments-title {
    color: #343E6D;
    font-weight: 500;
    font-size: 14px;
}

.enter-comment {
    position: relative;

    top: 20;
}

.enter-comment-avatar {
    height: 42px;
    width: 42px;

    border-radius: 50%;
}

.enter-comment-text {
    font-size: 13px;

    color: #393b3f;

    padding: 10px;
    padding-left: 4px;

    position: absolute;

    top: 2;
    left: 54;

    width: calc(100% - 200px);

    border: none;
    cursor: text;

    font-weight: 500;
    font-size: 12px;
    font-family: "Gordita", sans-serif;
}

.enter-comment-text:focus {
    outline: none;
    border-bottom: 2px solid #FC4C86 !important;
}

.contains-text {
    border-bottom: 2px solid #FC4C86 !important;
}

.enable-send-button {
    background-color: #FC4C86 !important;
    cursor: pointer !important;
}

.send-comment-button {
    border: 0;
    background-color: rgb(160, 160, 160);
    color: white;
    font-weight: 500;
    padding: 8px;

    height: 36px;
    
    border-radius: 3px;
    cursor: default;

    position: absolute;

    top: 3;
    right: 30;

    font-family: "Gordita", sans-serif;
}

.send-comment-button:focus {
    outline: none;
}

.steps-container {
    margin: 10px;
    margin-left: 0;
    margin-top: 14px;
    padding: 8px;

    border-radius: 5px;
}

.status-text {
    font-size: 12px;
    font-weight: 500;

    position: absolute;

    top: 6;
    left: 36;
    right: 0;
}

.status-time {
    font-size: 12px;
    font-weight: 500;

    float: right;
}

.comments-list {
    margin-top: -26px;
}

.comment-item {
    position: relative;

    top: 20;
    margin-top: 32px;
}

.comment-avatar {
    width: 38px;
}

.comment-name {
    font-size: 12px;
    font-weight: 500;
    
    color: #343E6D;

    position: absolute;

    top: 2;
    left: 50;
}

.comment-time {
    color: #7f8691;

    padding-left: 4px;
    font-size: 11px;
    font-weight: 400;
}

.comment-message {
    font-size: 12.4px;

    color: rgb(58, 58, 58);
    position: absolute;

    top: 22;
    left: 50;
    right: 14;
}

.course-difficulty {
    font-size: 10px;
    font-weight: 500;

    color: #343E6D;

    text-transform: uppercase;

    margin-bottom: 14px;
}

.course-name {
    font-size: 28px;
    font-weight: 500;

    color: #343E6D;
}

.step-title {
    font-size: 16px;
    font-weight: 500;

    color: #343E6D;
    
    margin-bottom: 20px;
}

.step-divider {
    margin-top: 30px;
    margin-bottom: 30px;

    border-bottom: 1px solid #ebebeb;
}

.steps-list {
    position: relative;
}

.step-selected {
    border: 2px solid #fc4c87;
    background-color: #fc4c87;
}

.step-selected .step-name {
    color: white;
}

.step-selected .step-starttime {
    color: white;
}

.step-selected .step-icon {
    background-image: url('https://cdn.multicourse.com.au/img/PauseButton.svg') !important;
}

.step-item {
    border-radius: 25px;
    margin-top: 6px;
    margin-bottom: 6px;

    position: relative;

    min-height: 46px;
    width: 100%;

    display: flex;
    align-items: center;
}

.step-icon {
    height: 36px;
    width: 36px;

    background-position-x: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    
    background-image: url('https://cdn.multicourse.com.au/img/PlayButton.svg');

    padding-right: 24px;
}

.step-name {
    font-size: 13px;
    font-weight: 500;
    color: #5F658B;

    width: 100%;
    padding: 13px;
    padding-left: 0;

    cursor: pointer;
}

.step-name > div {
    font-weight: 400;
    margin-top: 4px;
}

.step-starttime {
    font-size: 11px;
    font-weight: 500;
    color: #C2C5D9;

    float: right;
    align-self: center;
    padding-right: 10px;
}